<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153115032481-8e2mtl9ra44elt8qm427i1htu77qdkkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153115032481-8e2mtl9ra44elt8qm427i1htu77qdkkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAyxbYTdCAGhE5rxt3nd91I4_D3eito1N0</string>
	<key>GCM_SENDER_ID</key>
	<string>153115032481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Blue-Shield.New-Flex-Space-v5</string>
	<key>PROJECT_ID</key>
	<string>new-flex-space</string>
	<key>STORAGE_BUCKET</key>
	<string>new-flex-space.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153115032481:ios:39614e087ff7cd99</string>
	<key>DATABASE_URL</key>
	<string>https://new-flex-space.firebaseio.com</string>
</dict>
</plist>